
//- NAV.jade
// Progress Mixin
mixin nav_items(page, href)
  li.main
    a(href= href)= page

//- layout.jade
block variables
    - var pagetitle= 'Perspective Family Eyecare'

doctype html
html(lang='en')
  head
    
    // Basic Page Needs
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content="Brooklyn's Premiere Family Eyecare Center")
    meta(name='author', content='Dr. Benjamin Arthur')

    // Title of Page
    case pagetitle
        when 'Perspective Family Eyecare'
          title= pagetitle
        default
          title= 'Perspective Family Eyecare - ' + pagetitle

    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Font
    include ../_includes/fonts.jade

    // CSS
    link(rel='stylesheet', href='css/slicknav.min.css')
    link(rel='stylesheet', href='css/master.css')

    // Favicon
    link(rel='icon', type='image/png', href='img/favicon.png')

    // JS Head
    block scripts-head  
      script(src='http://code.jquery.com/jquery-latest.min.js') 
      script(src='js/script.js', charset='utf-8', type='text/javascript')
      script(src='js/jquery.slicknav.js')
      script.
        $(function(){
            $('#menu').slicknav({
                label: '',
                prependTo:'.slicknav_item'
            });
        });
        

  body
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WF6DB6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WF6DB6');</script>
    <!-- End Google Tag Manager -->